<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Created At</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let log of gameLogs">
                <td>{{ log.dateTime | date  }}</td>
                <td>{{ log.name }}</td>
                <td>
                    <!-- <app-user-password-change [user]="user"></app-user-password-change>
                    <app-user-enable-disable [user]="user" (updateUserList)="updateUserList()"></app-user-enable-disable>
                    <a [routerLink]="['/users', user.slot]" class="btn btn-secondary mr-3">
                        <span class="btn-label"><i class="fas fa-pen"></i></span>
                         Edit
                    </a> -->
                    <a class="btn btn-info mr-3" (click)="download(log)">
                        <span class="btn-label"><i class="fas fa-file-download"></i></span>
                         Download
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>