<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Created At</th>
                <!-- <th scope="col">Actions</th> -->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let map of maps">
                <td>
                    {{map.name}}
                </td>
                <td>
                    {{map.createdAt | date }} 
                </td>
                <!-- <td>
                    <button class="btn btn-danger mr-3">
                        <span class="btn-label"><i class="fas fa-trash"></i></span>
                        Delete
                    </button>
                </td> -->
            </tr>
            </tbody>
        </table>
    </div>
</div>


