<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Created At</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let map of maps">
                <td>
                    {{map.name}}
                </td>
                <td>
                    {{map.createdAt | date }} 
                </td>
                <td>
                    <app-map-delete [mapName]="map.name" (onMapDeleted)="loadMaps()"></app-map-delete>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


