<div class="sidebar sidebar-style-1">

    <div class="scroll-wrapper sidebar-wrapper scrollbar scrollbar-inner" style="position: relative;">
        <div class="sidebar-wrapper scrollbar scrollbar-inner scroll-content" style="margin-bottom: -12px; margin-right: -12px; max-height: none;">
            <div class="sidebar-content">
                <!-- <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="../../assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            Daniel the Drone
                            <span class="user-level">Administrator</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="#profile">
                                    <span class="link-collapse">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#edit">
                                    <span class="link-collapse">Edit Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#settings">
                                    <span class="link-collapse">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
                <ul class="nav nav-primary">
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/overview" >
                            <i class="fas fa-columns"></i>
                            <p>Overview</p>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a data-toggle="collapse">
                            <i class="fas fa-cubes"></i>
                            <p>Plugins</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse show" id="pluginsSubMenu">
                            <ul class="nav nav-collapse"  >
                                <li routerLinkActive="active">
                                    <a routerLink="/plugins/rtv" >
                                        <span class="sub-item">RTV</span>
                                    </a>
                                </li>
                                 <!-- <li  routerLinkActive="active">
                                    <a routerLink="/plugins/elo" >
                                        <span class="sub-item">ELO</span>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </li>
                    <!-- <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/players">
                            <i class="fas fa-user-friends"></i>
                            <p>Players</p>
                        </a>
                    </li> -->
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/maps">
                            <i class="fas fa-map"></i>
                            <p>Maps</p>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/game-files">
                            <i class="fas fa-file"></i>
                            <p>Game Files</p>
                        </a>
                    </li>
                    <!-- <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/updates">
                            <i class="fas fa-cloud-download-alt"></i>
                            <p>Updates</p>
                        </a>
                    </li> -->
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/users" >
                            <i class="fas fa-user-cog"></i>
                            <p>Users</p>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a data-toggle="collapse">
                            <i class="fas fa-file-alt"></i>
                            <p>Logs</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse show" id="logSubMenu">
                            <ul class="nav nav-collapse"  >
                                <li routerLinkActive="active">
                                    <a routerLink="/logs/game" >
                                        <span class="sub-item">Game</span>
                                    </a>
                                </li>
                                <!-- <li routerLinkActive="active">
                                    <a routerLink="/logs/admin" >
                                        <span class="sub-item">Admin</span>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/config">
                            <i class="fas fa-cogs"></i>
                            <p>Config</p>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/power-options">
                            <i class="fas fa-power-off"></i>
                            <p>Power options</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="scroll-element scroll-x">
            <div class="scroll-element_outer">
                <div class="scroll-element_size"></div>
                <div class="scroll-element_track"></div>
                <div class="scroll-bar ui-draggable ui-draggable-handle" style="width: 100px; left: 0px;"></div>
            </div>
        </div>
        <div class="scroll-element scroll-y">
            <div class="scroll-element_outer">
                <div class="scroll-element_size"></div>
                <div class="scroll-element_track"></div>
                <div class="scroll-bar ui-draggable ui-draggable-handle" style="height: 100px;"></div>
            </div>
        </div>
    </div>
</div>