<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
        Server Activities
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activity of activities">
                <td>{{ activity.date | date:'yyyy-MM-dd - hh:mm'}}</td>
                <td>{{ activity.description }}</td>
            </tr>
            </tbody>
        </table>
    </li>
</ul>