<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">{{server.name}}</li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <ul style="maring: 0px">
            <li>Address: {{server.address}}</li>
            <li>Players: {{server.playerCount}}/{{server.maxPlayerCount}}</li>
            <li>Map: {{server.mapName}}</li>
            <li>Version: {{server.version}}</li>
        </ul>
    </li>
</ul>