<div class="card">
    <ul class="list-group">
        <li class="list-group-item d-flex 
                   justify-content-between align-items-center 
                   bg-dark">
            {{server.nameWithoutColors}}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <ul style="maring: 0px">
                <li>Address: {{server.address}}</li>
                <li>Players: {{server.playersCount}}/{{server.maxSlots}}</li>
                <li>Map: {{server.mapName}}</li>
                <li>Version: {{server.gameNameAndVersion}}</li>
            </ul>
        </li>
    </ul>
</div>