<button (click)="openModal()" *ngIf="enabled" class="btn btn-info mr-3">
    <span class="btn-label"><i class="fas fa-key"></i></span>
     Update password
</button>

<button *ngIf="!enabled" class="btn btn-info mr-3" disabled>
    <span class="btn-label"><i class="fas fa-key"></i></span>
     Update password
</button>

<modal *ngIf="enabled" #modal [modalConfig]="modalConfig">
    <form id="form" #form="ngForm" autocomplete="off" (ngSubmit)="save(form)">
        <fieldset>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" 
                    name="password" placeholder="Password" #password="ngModel" [(ngModel)]="userPasswordUpdate.password"
                    required minlength="3">
            </div>
        </fieldset>
    </form>
</modal>