<h3 class="card-header bg-dark">
    Config File</h3>
<div class="card-body">
    <p class="card-text">
        Download the server config file or upload a new one.
    </p>
    <a href="/server/config/server.cfg"  class="card-link">Download</a>
    <button class="btn btn-primary ml-3" (click)="openModal()" >Upload</button>
    <modal #modal [modalConfig]="modalConfig">
        <fieldset>
            <div class="form-group">
                <label for="inputFile">File</label>
                <input type="file" class="form-control-file" id="inputFile" name="file">
            </div>
        </fieldset>
    </modal>
</div>