<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Slot</th>
                <th scope="col">Username</th>
                <th scope="col">Type</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.slot }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.type }}</td>
                <td>
                    <app-user-password-change [user]="user"></app-user-password-change>
                    <app-user-enable-disable [user]="user" (updateUserList)="updateUserList()"></app-user-enable-disable>
                    <a [routerLink]="['/users', user.slot]" class="btn btn-secondary mr-3">
                        <span class="btn-label"><i class="fas fa-pen"></i></span>
                         Edit
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </li>
</ul>


